[Desktop Entry]
Name=GNU Bash Shell Script(minimalistic).bash
Name[zh_TW]=GNU Bash殼層腳本（極簡版）.bash
Type=Link
Icon=text-x-script
URL=GNU Bash Shell Script(minimalistic).template.bash
# Comment=
