[Desktop Entry]
Name=Shell Script(GNU Bash).bash
Name[zh_TW]=殼層腳本(GNU Bash).bash
Type=Link
Icon=text-x-script
URL=Shell Script(GNU Bash).bash
# Comment=