[Desktop Entry]
Name=Shell Script(Source'd)(GNU Bash).source.bash
Type=Link
Icon=text-x-script
URL=Shell Script(GNU Bash)(source'd).template.source.bash
# Comment=