[Desktop Entry]
Name=Shell Script(GNU Bash)(Vanilla).bash
Name[zh_TW]=Shell Script(GNU Bash)（Vanilla 版）.bash
Type=Link
Icon=text-x-script
URL=Vanilla.bash
# Comment=